@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

.App {
  min-height: 100vh;
  display: flex;
  background-image: url(background.png);
  background-size: cover;
  background-repeat: no-repeat;
}

::-webkit-scrollbar {
  width: 0;
}

::-webkit-scrollbar-thumb {
  background: rgba(136, 136, 136, 136, 0.281);
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.messages {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  scrollbar-width: none;
}
